@import '../../../../styles/utils/index';

.header {
  background: #f8f8f9;
  line-height: 48px;
  padding-left: 10px;
  margin-bottom: 30px;
}
table,
table tr th,
table tr td {
  border: 1px solid #cdcdcd;
}
table {
  width: 70%;
  min-height: 400px;
  line-height: 60px;
  text-align: center;
  border-collapse: collapse;
  img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
  tr td:nth-child(even) {
    width: 200px;
  }
  tr td:nth-child(odd) {
    width: 100px;
  }
  tr:nth-last-of-type(1) {
    height: 100px;
  }
}
