@import "../../../../styles/utils/index";

@import "../../../../styles/utils/index";

.header {
  background: #f8f8f9;
  line-height: 48px;
  padding-left: 10px;
}

.ivu-row {
  padding-top: 10px;
  margin-bottom: 50px;
  .ivu-date-picker {
      float: right;
      margin-right: 20%;
  }
}
