@import '../../../../styles/utils/index.scss';


.nav {
    overflow: hidden;
}
.tab-item {
    float: left;
    width: 200px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border:1px solid #cdcdcd;
    a {
        display: inline-block;
        width: 100%;
        color:#000;
    }
    .router-link-active {
        background: #BBBBBB;
    }
}