@import "../../../../styles/utils/index";

.header {
  background: #f8f8f9;
  line-height: 48px;
  padding-left: 10px;
}
.search {
  position: static !important;
  padding-top: 10px !important;
  margin-bottom: 30px !important;
}

.select-offset {
  margin-left: 20px;
}
